@tailwind base;
@tailwind components;
@tailwind utilities;

.Header{
background-color: rgba(0, 0, 255, 0.74);
color: white;
height: 45px;
}
.header-button{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  height: 44px;
  font-size: 25px;
  
}
#home:hover,#about-us:hover,#contact-us:hover,#jobs:hover{
color: yellow;
}

