*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.Wrapper{
  height: 100%;
  width: 90%;
  display: relative;
  overflow: scroll;
  padding-left: 50px;
}
.header{
 display: relative;
 overflow: hidden;
 padding-left: 50px;
}

.firstNavbar{
  display: flex;
 justify-content: space-between;
 background-color: black;
}
.navListsLeft{
  width: 150px;
  display: flex;
  justify-content: space-between;
   
}
li{
  list-style: none;
}
.navListsRight{
  width: 500px;
  display: flex;
  justify-content: space-evenly;

}